<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th>フォロー数</th>
			<th><%= link_to "#{user.follower.count}", follower_user_path(user.id) %></th>
		</tr>

		<tr>
			<th>フォロワー数</th>
			<th><%= link_to "#{user.followed.count}", followed_user_path(user.id) %>
		</tr>

</table>

<div class="row">
	<% unless user == current_user %>
		<% if current_user.following?(user) %>
			<%= link_to 'フォローを外す', unfollow_path(user.id), method: :post, class: "btn btn-primary col-xs-6" %>
		<% else %>
			<%= link_to 'フォローする', follow_path(user.id), method: :post, class: "btn btn-success col-xs-6" %>
		<% end %>
	<% end %>
</div>


<div class="row">
	<%= link_to '',edit_user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
</div>